<h1>Add new film</h1>

<form
	action="addFilm.php?action=add"
	method="post">
	<label>
		titel
		<input
			type="text"
			name="title"
			id="title"
			required />
	</label>
	<br /><br />
	<label>
		sortTitle
		<input
			type="text"
			name="sortTitle"
			id="sortTitle" />
	</label>
	<br /><br />
	<label>
		description
		<textarea
			name="description"
			id="description"
			cols="30"
			rows="10"></textarea>
	</label>
	<br /><br />
  <label>
		releaseDate
		<input
			type="date"
			name="releaseDate"
			id="releaseDate"
			value="" />
	</label>
  <br><br>
	<label>
		runtime
		<input
			type="number"
			name="runtime"
			id="runtime" min="0" max="500" />
	</label>
	<br /><br />
  <label>
		genre
		<select
			name="genreId"
			id="genreId">
			{% for genre in genres %}
			<option value="{{ genre.id }}" {% if genre.id == film.genreId %}selected{% endif %}>{{ genre.name }}</option>
			{% endfor %}
		</select>
	</label>
	<br /><br />
	<label>
		category
		<select
			name="categoryId"
			id="categoryId">
			{% for category in categories %}
			<option value="{{ category.id }}" {% if category.id == film.categoryId %}selected{% endif %} >{{ category.name }}</option>
			{% endfor %}
		</select>
	</label>
  <br><br>
  <button type="submit">submit</button>
</form>
