<h1>Login</h1>
<form
	action="{{ url }}?action=login"
	method="post">
	<label>
		username or email
		<input
			type="text"
			name="username"
			id="username"
			required />
	</label>
	<br />
	<label>
		password
		<input
			type="password"
			name="password"
			id="password"
			required />
	</label>
	<br /><br />
	<button type="submit">Login</button>
</form>
